[Unit]
Description=AWS S3 Homelab Backup
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/simo/homelab/services/aws-backup
ExecStart=/usr/bin/docker compose run --rm --no-build backup
